<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <title>BookLibrary</title>
</head>
<body>
    <h1 th:inline="text">Hello, [[${user.username}]] </h1>
    <form th:action="@{/removeUser}">
        <input type="submit" value="delete account" th:value="#{user.userID}"/>
    </form>

    <ul th:each="book : ${user.userLibrary}">
        <li>
            <p th:text="@{book.bookName}"></p>
            <p th:text="@{book.ISBN}"></p>
        </li>
    </ul>
    <form method="post" th:action="@{userbooks}" th:object="${book}">
        <label for="isbn">ISBN</label>
        <select id="isbn" name="isbn" autofocus="autofocus">
            <option value="0"> select or input ISBN</option>
            <option th:each="book : ${books} " th:value="${book}" th:text="${book.bookName}"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
    <p>Not in the list? <button action="@{/addBook}">Add new book</button></p>
</body>
</html>