<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<ul th:each="user : ${Users}">
    <li th:text="@{user.username}"></li>
</ul>
</body>
</html>